<footer>
  <?php
    if (isset($wiki->filemeta) && isset($wiki->filemeta['year'])) {
      $year = $wiki->filemeta['year'];
    } else {
      $year = gmdate('Y');
    }
  ?>
  <hr/>
  <div class="footer-row">
    <div class="footer-column">
      <small>
	Copyright &copy; <?=$year?> <?=$wiki->cfg['copyright']?> <br/>
	All rights reserved<br/>
      </small>
    </div>
    <div class="footer-column footer-powered-by">
      <small>
        Powered By: <br/>
	<a href="<?= APP_URL ?>" target="_blank"><?= APP_NAME ?> <?= APP_VERSION ?></a><br/>
      </small>
    </div>
  </div>

  <?php if (!empty($wiki->context['debug']) && $wiki->context['debug']) { ?>
  <hr>
  View: <code><?= $wiki->view ?></code><br>
  <?php if (!empty($wiki->remote_user)) { ?>
    Remote user: <code><?= $wiki->remote_user ?></code><br>
  <?php } ?>
  <?php \NWiki\Util::dumpLog() ?>
  <?php } ?>

</footer>
