*, *:before, *:after {
  box-sizing: border-box;
}

body {
    font-family: sans-serif;
    padding: 0;
    margin: 0;
    text-rendering: optimizeLegibility;
}

.page {
    max-width: 45em;
    margin: auto;
}
.main {
    padding-bottom: 20vh;
}

.footer-row {
  display: flex;
}

.footer-column {
  flex: 50%;
}

.footer-powered-by {
  text-align: right;
}
